.container {
    width: 245px;
    min-height: 100dvh;
    display: flex;
}

.header.show {
    transform: translateX(0px);
    opacity: 1;
    z-index: 7;

}

.header {
    width: 245px;
    height: 100dvh;
    padding: 8px 12px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    transform: translateX(-172px);
    opacity: 0;
    background-color: black;
    z-index: 6;
    transition: opacity 700ms;
}

.logo-container {
    padding: 25px 12px 16px;
    margin-bottom: 19px;
    position: relative;
    z-index: 100;
}

.logo {
    transition: all 400ms;
    transform: scale(1);


}

.logo.shrink {
    transform: scale(0);
}

.link-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.link-container > div {
    padding: 12px;
    margin: 4px 0;
    background-color: black;
}

.link {
    display: flex;
    align-items: center;
    background-color: black;
}

.link div:nth-child(1) {
    /*width: 48px;*/
}

.link div:nth-child(2) {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.img-container {
    /* 검정색 가리는 코드 */
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.last {
    padding: 12px;
    margin: 4px 0;
    position: relative;
    border-radius: 8px;
    display: flex;
    width: 100%;
}

.last:hover,
.last-item:hover{
    background-color: rgb(255, 255, 255, 0.1);
}

.last-item {
    display: flex;
    align-items: center;
}
.last-item > div:nth-child(2) {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
